<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Demo1Servlet</servlet-name>
        <servlet-class>com.myxh.servlets.Demo1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demo2Servlet</servlet-name>
        <servlet-class>com.myxh.servlets.Demo2Servlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Demo3Servlet</servlet-name>
        <servlet-class>com.myxh.servlets.Demo3Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demo4Servlet</servlet-name>
        <servlet-class>com.myxh.servlets.Demo4Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demo5Servlet</servlet-name>
        <servlet-class>com.myxh.servlets.Demo5Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demo6Servlet</servlet-name>
        <servlet-class>com.myxh.servlets.Demo6Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Demo7Servlet</servlet-name>
        <servlet-class>com.myxh.servlets.Demo7Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Demo1Servlet</servlet-name>
        <url-pattern>/demo1_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo2Servlet</servlet-name>
        <url-pattern>/demo2_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo3Servlet</servlet-name>
        <url-pattern>/demo3_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo4Servlet</servlet-name>
        <url-pattern>/demo4_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo5Servlet</servlet-name>
        <url-pattern>/demo5_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo6Servlet</servlet-name>
        <url-pattern>/demo6_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Demo7Servlet</servlet-name>
        <url-pattern>/demo7_servlet</url-pattern>
    </servlet-mapping>
</web-app>
